.container {
    background-image: url("nyatawuli.jpg");
    height: 600px;
    background-color: #416566;
}

h1 {
    font-size: 60px;
    font-style: italic;
    text-align: center;
    background-color: #444;
}

.newShoe {
    text-align: right;
}

img {
    transition-property: 50px;
    width: 150px;
    height: 150px;
}
.left{
  width:50%;
  float: left;
  display:inline-block;
}
.right{
  float: left;
  width: 50%;

}
